<a href="https://colab.research.google.com/github/BautistaDavid/Machine-Learning-Class-2022/blob/main/Proyecto_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
import warnings
import seaborn as sns 
from sklearn.tree import DecisionTreeRegressor
import xgboost as xgb

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/BautistaDavid/Machine-Learning-Class-2022/main/data/data_proyecto9.csv')
df.head()

,estu_genero,fami_educacionpadre,fami_educacionmadre,fami_estratovivienda,fami_tieneinternet,fami_tienecomputador,fami_tieneautomovil,edad,pago_promedio,estu_economia,distancia,presencial,punt_global,Region Amazonica,Region Andina,Region Caribe,Region Orinoquia,Region Pacifica
0,1,11.0,13.0,3,1,1,0,24,3250.0,1,1,0,201,0,1,0,0,0
1,1,15.0,15.0,4,1,1,1,19,7000.0,1,0,1,222,0,1,0,0,0
2,1,3.0,3.0,2,1,1,0,29,1750.0,0,0,1,88,0,0,1,0,0
3,0,15.0,14.0,3,1,1,0,22,1750.0,1,1,0,159,0,1,0,0,0
4,1,3.0,13.0,3,1,1,0,23,4750.0,1,0,1,156,0,1,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3855 entries, 0 to 3854
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   estu_genero           3855 non-null   int64
 1   fami_educacionpadre   3855 non-null   float64
 2   fami_educacionmadre   3855 non-null   float64
 3   fami_estratovivienda  3855 non-null   int64
 4   fami_tieneinternet    3855 non-null   int64
 5   fami_tienecomputador  3855 non-null   int64
 6   fami_tieneautomovil   3855 non-null   int64
 7   edad                  3855 non-null   int64
 8   pago_promedio         3855 non-null   float64
 9   estu_economia         3855 non-null   int64
 10  distancia             3855 non-null   int64
 11  presencial            3855 non-null   int64
 12  punt_global           3855 non-null   int64
 13  Region Amazonica      3855 non-null   int64
 14  Region Andina         3855 non-null   int64
 15  Region Caribe         3855 non-null   int64
 16  Region Orinoquia      3855 non-null   int64
 17  Region Pacifica       3855 non-null   int64
dtypes: float64(3), int64(15)
memory usage: 542.2 KB

In [ ]:
X = df.drop(columns = ['punt_global','distancia']).to_numpy()
y = df[['punt_global']].to_numpy()

In [ ]:
scal = StandardScaler()
X_scal = scal.fit_transform(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_scal, y, test_size=0.3, random_state=777)

## **Regresion Logistica**

In [82]:
warnings.filterwarnings('ignore')
param_grid={'normalize':[True, False]}

grid_search = GridSearchCV(LinearRegression(),param_grid,cv=6) # no ejecuto para optimizar tiempo 
grid_search.fit(X_train,y_train)


reg = LinearRegression(**grid_search.best_params_)
reg.fit(X_train,y_train)

LinearRegression(normalize=True)

In [83]:
scores_entrenamiento = []
scores_testeo = []

def scores_info():
  y_train_pred = reg.predict(X_train)
  print('Metricas dentro de Muestra entrenamiento')
  s_train = r2_score(y_train,y_train_pred)
  scores_entrenamiento.append(s_train)
  print(f'R2 Score = {s_train}')
  y_pred = reg.predict(X_test)
  s_test = r2_score(y_test,y_pred)
  scores_testeo.append(s_test)
  print(' ')
  print('Metricas Fuera de muestra de entrenamiento')
  print(f'R2 Score = {s_test}')

scores_info()
# , r2_score, mean_absolute_error

Metricas dentro de Muestra entrenamiento
R2 Score = 0.27881680447490476

Metricas Fuera de muestra de entrenamiento
R2 Score = 0.2933745099807331

## **RandomForest Regressor**

In [84]:
param_grid={'criterion':['squared_error', 'absolute_error', 'poisson'],
            'max_features':['sqrt', 'log2', 'None'],
            'max_depth':[2,5,10,25]}

grid_search = GridSearchCV(RandomForestRegressor(),param_grid,cv=6) # no ejecuto para optimizar tiempo 
grid_search.fit(X_train,y_train)

reg = RandomForestRegressor(random_state=777, **grid_search.best_params_)
reg.fit(X_train,y_train)

RandomForestRegressor(criterion='absolute_error', max_depth=10,
                      max_features='log2', random_state=777)

In [85]:
scores_info()

Metricas dentro de Muestra entrenamiento
R2 Score = 0.5493316740769705

Metricas Fuera de muestra de entrenamiento
R2 Score = 0.3170018268203263

## **DecisionTree Regressor**

In [87]:
param_grid = {'criterion':['squared_error','friedman_mse', 'absolute_error', 'poisson'],
               'max_depth':[2,5,10,25],
              'splitter':['best','random']}

grid_search = GridSearchCV(DecisionTreeRegressor(),param_grid,cv=6) # no ejecuto para optimizar tiempo 
grid_search.fit(X_train,y_train)

reg = DecisionTreeRegressor(random_state=777, **grid_search.best_params_)
reg.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=5, random_state=777, splitter='random')

In [88]:
scores_info()

Metricas dentro de Muestra entrenamiento
R2 Score = 0.30455730711461526

Metricas Fuera de muestra de entrenamiento
R2 Score = 0.2715782048494746

## **Resultados**

In [105]:
models = ['Regresion Lineal', 'Random Forest','Arbol de decision']
resultados = pd.DataFrame(columns=['Metodo','Score Entrenamiento','Score Testeo'])
resultados['Metodo'] = models
resultados['Score Entrenamiento'] = scores_entrenamiento
resultados['Score Testeo'] = scores_testeo
resultados.set_index('Metodo')

                   Score Entrenamiento  Score Testeo
Metodo
Regresion Lineal              0.278817      0.293375
Random Forest                 0.549332      0.317002
Arbol de decision             0.304557      0.271578