<a href="https://colab.research.google.com/github/BautistaDavid/Proyectos_ClaseML/blob/main/Trabajo_clase_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [159]:
import pandas as pd 
url_test = 'https://raw.githubusercontent.com/cristiangp09/databases/main/test.csv'
url_train = 'https://raw.githubusercontent.com/cristiangp09/databases/main/train.csv'

In [160]:
import numpy as np 
x_test = pd.read_csv('https://raw.githubusercontent.com/cristiangp09/databases/main/test.csv')
x_train = pd.read_csv('https://raw.githubusercontent.com/cristiangp09/databases/main/train.csv')

resultados = pd.DataFrame(columns = ['PassengerId','Survived'])
resultados['PassengerId'] = x_test['PassengerId']


x_train.drop(columns = ['PassengerId', 'Name', 'Ticket','Cabin','Embarked'],inplace = True)
x_test.drop(columns = ['PassengerId', 'Name', 'Ticket','Cabin','Embarked'],inplace = True)

x_train['Sex'].replace({'male':1,'female':0}, inplace = True)
x_train['Age'].replace({np.NaN:x_train['Age'].mean()},inplace = True)

x_test['Sex'].replace({'male':1,'female':0}, inplace = True)
x_test['Age'].replace({np.NaN:x_test['Age'].mean()},inplace = True)
x_test['Fare'].replace({np.NaN:x_test['Fare'].mean()},inplace = True)


y_train = x_train[['Survived']]
x_train = x_train.drop(columns = 'Survived')

In [161]:
x_test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  34.5      0      0   7.8292
1       3    0  47.0      1      0   7.0000
2       2    1  62.0      0      0   9.6875
3       3    1  27.0      0      0   8.6625
4       3    0  22.0      1      1  12.2875

In [162]:
x_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

**AJUSTAR MODELOS**

In [163]:
## estandarizamos 

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train) 
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [164]:
x_train

array([[ 0.82737724,  0.73769513, -0.5924806 ,  0.43279337, -0.47367361,
        -0.50244517],
       [-1.56610693, -1.35557354,  0.63878901,  0.43279337, -0.47367361,
         0.78684529],
       [ 0.82737724, -1.35557354, -0.2846632 , -0.4745452 , -0.47367361,
        -0.48885426],
       ...,
       [ 0.82737724, -1.35557354,  0.        ,  0.43279337,  2.00893337,
        -0.17626324],
       [-1.56610693,  0.73769513, -0.2846632 , -0.4745452 , -0.47367361,
        -0.04438104],
       [ 0.82737724,  0.73769513,  0.17706291, -0.4745452 , -0.47367361,
        -0.49237783]])

In [165]:
from sklearn import svm
clf=svm.SVC(kernel="sigmoid",probability=True,random_state= 777,)
# start_time=time.process_time()
clf.fit(x_train,y_train.to_numpy())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='sigmoid', probability=True, random_state=777)

In [166]:
# y_pred_train = clf.predict(x_train)
y_pred= clf.predict(x_test)

In [153]:
# from sklearn.metrics import confusion_matrix
# import seaborn as sns 
# sns.heatmap(confusion_matrix(y_train,y_pred_train), annot = True)

In [167]:
resultados['Survived'] = y_pred

In [169]:
resultados.to_csv('submission.csv', index = False)